{% macro workCard(data) -%}
<div class="card mb-4">
  <h3 class="card-title">{{data.title}}</h3>
  <img class="card-img" src="{{data.img_src}}" alt="{{data.img_alt}}" />
  <p class="card-text">{{data.text}}</p>
  <p class="card-text">
    <a target="_blank" href="{{data.github_link}}">Github</a>
  </p>
  <p class="card-text">
    <a target="_blank" href="{{data.website_link}}"
      >{{data.website_link_title}}</a
    >
  </p>
</div>
{%- endmacro %} {% macro funCard(data) -%}
<div class="card mb-4">
  <h3 class="card-title">{{data.title}}</h3>
  <img class="card-img" src="{{data.img_src}}" alt="{{data.img_alt}}" />
  <p class="card-text mt-4">
    <a target="_blank" href="{{data.github_link}}">Github</a>
  </p>
  {% if data.website_link %}
  <p class="card-text">
    <a class="mt-2" target="_blank" href="{{data.website_link}}">Play</a>
  </p>
  {% endif%}
</div>
{%- endmacro %}{% extends 'base.html' %} {% block css%}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="/static/index.css" />
{% endblock %}{%block title%}Mason Bybee{% endblock %} {% block content %}
<img class="masonIMG" src="/static/assets/Portfolio/IMG_2203.jpg" alt="" />
<h1 class="greeting">Hello, I'm Mason</h1>
<h2 class="title">Full-Stack Web Developer</h2>
<section id="about" class="text-container my-5">
  <h2 class="my-3">About Me</h2>
  <p>
    Hello! I'm Mason Bybee, a Full-Stack Developer. Though my journey into
    coding is relatively recent, my background with computers is extensive and
    rooted in a technology-focused upbringing. My interest in computers sparked
    at a young age, leading me to build my own desktop computer by the age of
    11. At 14, I delved into HTML and CSS, laying the groundwork for my
    technical skills, though I didn't fully explore their potential at the time.
  </p>
  <p>
    My pivotal moment unfolded in early 2023. Confronted with a stagnant career
    path, I made a decisive shift towards Software Development. This transition
    reignited my passion for learning and led to a rapid expansion of my
    technical skillset. I've not only refreshed my knowledge of HTML and CSS,
    but I've also picked up a variety of programming languages and development
    tools including JavaScript, React, express, Python, Flask, Pygame, Terminal,
    and Git, among others. My ambition doesn't stop here; I am continually
    striving to master new languages and refine my coding practices. My ultimate
    goal is to channel these skills and experiences into becoming a proficient
    Game Developer.
  </p>
</section>
<section id="work" class="text-container">
  <h2 class="mt-2">Work</h2>
  <p>Below are my major projects displaying my skills in web development</p>
  <div class="card-container">
    {%for card in work_cards %}{{workCard(card)}}{% endfor %}
  </div>
</section>
<section id="fun" class="text-container">
  <h2>Fun</h2>
  <p>
    These are a few projects I've made to challenge myself and have something
    fun as the end result
  </p>
  <div class="card-container">
    {% for card in fun_cards %} {{funCard(card)}}{% endfor %}
  </div>
</section>
<section id="contact">
  <form id="contact-form">
    <div class="form-div">
      <h2 class="mt-2" id="contact">Contact</h2>
      <div class="form-group mt-4">
        <label for="contact-name">Your full name:</label>
        <br />
        <input
          class="contact-inputs mt-2"
          id="contact-name"
          name="from_name"
          type="text"
          placeholder="Jane Doe"
        />
      </div>
      <div class="form-group mt-4">
        <label for="contact-email">Your email address:</label>
        <br />
        <input
          class="contact-inputs mt-2"
          id="contact-email"
          name="from_email"
          type="email"
          placeholder="example@example.com"
        />
      </div>
      <div class="form-group mt-4">
        <label>Your message:</label>
        <br />
        <textarea
          class="contact-message contact-inputs mt-2"
          placeholder="Hello, I wanted to reach out for..."
          name="message"
          rows="5"
        ></textarea>
      </div>
      <button class="btn btn-primary mt-4">Submit</button>
    </div>
  </form>

  <div id="contact-links">
    <a href="https://www.linkedin.com/in/mason-bybee/"
      ><i class="fa-brands fa-linkedin fa-2x"></i
    ></a>
    <a href="https://github.com/MasonBybee"
      ><i class="fa-brands fa-square-github fa-2x"></i
    ></a>
    <a href="https://www.facebook.com/profile.php?id=100010349328017"
      ><i class="fa-brands fa-square-facebook fa-2x"></i
    ></a>
    <a href="https://www.instagram.com/mason.bybee/"
      ><i class="fa-brands fa-square-instagram fa-2x"></i
    ></a>
  </div>
</section>
{% endblock %} {% block scripts %}
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script type="text/javascript">
  (function () {
    emailjs.init("udEgTM_Anq5lfDH5u");
  })();
</script>
<script
  src="https://kit.fontawesome.com/a425a78511.js"
  crossorigin="anonymous"
></script>
<script src="/static/index.js"></script>
{% endblock %}
